@import 'mixins';
@import 'variables';

body{
  background-image: url('../images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg');
  padding: 0;
  margin: 0;
}

section{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap:10px;
}
.wrapper{
  background-color: $dark-color;
  margin:.25em 0 .25em 0;
  padding:.25em 0 .25em 0;
  color:$light-color;
}
.top-page{
  background-color: $darkest-color;
  margin:0 0 .25em 0;
  color:$light-color;
}
article{
  grid-template-columns: 1fr 1fr 1fr;

}
log-in{
  display: flex;
  text-align: center;
}
img{
  width:29em;
  height: 29em;
}
.wrapper{
  display: flex;
  justify-content:space-around	
}
ul{
  display: flex;
  justify-content:space-around;
  list-style: none;
  font-size: 2em;
}
li:hover{
  cursor: pointer; 
}
li:active{
  background-color: $lighter-color;
  
}
.title{
  color:$light-color;
}
.single-trip-card{
  width: 29em;
  background-color: $light-color;
}
.hidden{
  display: none;
}
.log-in{
  @include inputSetUp();
  margin-top:10em;
}
.userInput{
  @include inputSetUp();
  padding-top: 5em;
  margin-top:0;
  height:400px;
  width: 100%;
}
.adv{
  @include inputSetUp()
}
h2{
  margin-top: 0;
}
.add-trip{
  @include confirmButtons()
}
.reject-trip{
  @include confirmButtons()
}
.add-trip:hover{
  background-color:$lighter-color

}
.reject-trip:hover{
  background-color:$lighter-color
}
.estimated-price{
  background-color:#49C6E5;
}
.post-trip{
  background-color:#49C6E5;
}
