@mixin inputSetUp () {
  background-color:#205493;
  color : #FFFBFA;
  border-radius: 16px;
  width: 100%;
  text-align: center;
}
@mixin confirmButtons(){
  display:inline-block;
   padding:0.35em 1.2em;
   border:0.1em solid #FFFFFF;
   margin:0 0.3em 0.3em 0;
  color:#FFFBFA;
  background-color: $dark-color;
}